<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to example.com</h1>
    <p>
      Hi,

			This is a sample email sent from a Ruby program. I didn't use the web for
			this. Why did I do this? I'm merely fudging with Ruby. Keep calm and
			carry on...

			Cheers,
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
